
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

/* Section number one */
.upperSide {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 150px;
    justify-content: space-between;
    
}
.logoSena img {
    height: 150px;
 
}

.tituloSitio {
    width: 200px;   
    font-weight: 600;
    text-align: center;
}

.LinkForm{
    display:flex;
    justify-content: end;
    a {
        color: #0b0b0c;
    }
}


/*  Section number two  (FORM) */
.FormularioInicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

.form {
    padding: 0 20px;
    box-sizing: border-box;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #39A900; /* Color del texto del título */
}

.User, .Password {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 2px solid #000000;
}

.User input, .Password input {
    width: 100%;
    font-size: 16px;
    border: none;
    background: none;
    color: #000000; /* Color del texto del input */
    outline: none;
}

.User label, .Password label {
    position: absolute;
    top: 30%;
    left: 10px;
    color: #000000; 
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.Password input {
    margin-top: 20px; 
}

input{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #04324D;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
        
}
.ingresar:hover {
    background-color: #09669C; 
}
.OlividoPassword {
    text-align: center;
    margin-top: 20px;
    color: #000000; /* Color del texto */
        p {
            margin: 0;
        }
}





